.loanCard {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(145, 144, 166, 0.12);
  width: 912px;
  min-height: 128px;
  margin-bottom: 16px;
}
.cardHeader {
  padding: 11px 33px 11px 24px;
  border-bottom: 1px solid var(--main-ligth-grey-color);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.id {
  color: var(--main-black-color);
  font-size: 16px;
  font-weight: 600;
}
.date {
  margin-left: 12px;
  color: var(--main-gray-color);
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
}
.right {
  color: var(--main-blue-color);
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.right svg {
  margin-left: 12px;
  margin-right: -4px;
}
.cardContent {
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: var(--main-gray-color);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}
.data span {
  color: var(--main-dark-color);
  font-size: 14px;
  font-weight: 400;
}
.data span:last-child {
  font-weight: 700;
}
.toggle {
  cursor: pointer;
  transition: 0.2s;
}
.cardFooter {
  border-top: 1px solid var(--main-ligth-grey-color);
}
.contract {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contract span {
  color: var(--main-green-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.contract svg {
  margin-left: 8px;
}
.contractContent {
  padding: 15px 24px;
  gap: 40px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .cardHeader > * {
    width: fit-content !important;
  }
}
