.nav {
  margin-top: 1px;
  padding: 16px 0px;
  background-color: var(--main-blue-color);
}
.item {
  margin-right: 48px;
}
.links {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.link {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.find {
  margin-left: auto;
  margin-right: 16px;
  height: 24px;
}
