.datePicker {
  padding: 0 24px;
}
.datePickerHeader {
  display: flex;
  align-items: center;
  padding: 8px;
}
.datePickerTitle {
  margin-left: 293px;
  color: var(--main-dark-color);
  font-size: 18px;
  font-weight: 700;
}
.datePickerCalendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.datePickerCalendar svg {
  cursor: pointer;
  margin-top: 8px;
}
.calendars {
  display: flex;
  gap: 60px;
}
.calendar {
  margin-top: 9px;
}
.activeMonth {
  color: var(--main-dark-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.tile {
  color: var(--main-black-color);
  font-size: 14px !important;
  font-weight: 400 !important;
  display: block !important;
  width: 32px;
  height: 32px;
  padding: 0 !important ;
  flex: none !important;
  border-radius: 50% !important;
}
.tile:hover {
  background: var(--main-ligth-grey-color) !important;
}
.tile:hover abbr {
  color: var(--main-blue-color);
  font-weight: 600;
}
.tile abbr {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.endDate {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  background: var(--main-green-color) !important;
}
.ransomDate {
  position: absolute;
  background: var(--main-green-color) !important;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  border-radius: 50%;
}
.ransomDate svg {
  margin: 0;
}

@media (max-width: 1024px) {
  .tile {
    width: 32px !important  ;
    height: 32px !important ;
  }
}
